.table-view, .table-view:focused {
	-fx-background-color: transparent;
}

.table-view .column-header-background {
	-fx-background-color: #d1d9ff;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}


.combo-box, .list-view, .button, .text-field, .date-picker, .date-picker > .arrow-button {
	-fx-background-color: transparent;
	-fx-border-style: solid;
	-fx-border-width: 0.5;
	-fx-border-color: grey;
}

.combo-box, .button, .text-field, .date-picker, .date-picker > .arrow-button {
	-fx-pref-height: 30px;
}

.combo-box:focused, .list-view:focused, .button:focused, .text-field:focused, .date-picker:focused {
	-fx-border-width: 1px;
	-fx-border-color: #1a237e;
}

.button:hover {
	-fx-background-color: #1a237e;
	-fx-text-fill: white;
}

.text-field, .text-field:focused {
	-fx-prompt-text-fill: gray;
}

