.login_view {
	-fx-pref-width: 400px;
}

.clinic_home {
	-fx-pref-width: 1180px;
	-fx-pref-height: 780px;
}

.al_center {
	-fx-alignment: center;
}

.al_center_left {
	-fx-alignment: center-left;
}

.al_center_right {
	-fx-alignment: center-right;	
}

.sp_5 {
	-fx-spacing: 5px;
}

.sp_10 {
	-fx-spacing: 10px;
}

.fs_16 {
	-fx-font-size: 16px;
}

.fs_20 {
	-fx-font-size: 20px;
}

.fs_24 {
	-fx-font-size: 24px;
}

.pad_8 {
	-fx-padding: 8px;
}

.pad_12 {
	-fx-padding: 12px;
}

.pad_16 {
	-fx-padding: 16px;
}

.wid_80 {
	-fx-pref-width: 80px;
}

.wid_100 {
	-fx-pref-width: 100px;
}

.wid_120 {
	-fx-pref-width: 120px;
}

.height_80 {
	-fx-pref-height: 80px;
}